@using Lexicom.Concentrate.Blazor.WebAssembly.Wiki.Services

@inject IWikiService _wikiService

<div class="wiki-link">
    @if (!string.IsNullOrWhiteSpace(Url))
    {
        <a href="@Url" target="_blank">
            @Text
        </a>
    }
    else
    {
        @Text
    }
</div>

@code
{
    [Parameter]
    public virtual string? UrlIdentifier { get; set; }

    [Parameter]
    public virtual string? Text { get; set; }

    [Parameter]
    public virtual RenderFragment? ChildContent { get; set; }

    protected virtual string? Url { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();

        string? identifier = null;
        if (!string.IsNullOrWhiteSpace(UrlIdentifier))
        {
            identifier = UrlIdentifier;
        }
        else if (!string.IsNullOrWhiteSpace(Text))
        {
            identifier = Text;
        }

        if (identifier is not null)
        {
            Url = await _wikiService.GetUrlFromIdentifierAsync(identifier);

            StateHasChanged();
        }
    }
}
