<div class="wiki-attention wiki-alert">
    @if (!HideIcon)
    {
        <svg class="wiki-attention-icon wiki-alert-icon" viewBox="0 0 16 16" aria-hidden="true">
            <circle cx="8" cy="8" r="8" stroke-width="0"></circle>
            <path fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.75" d="M8 5.25 v3.25"></path>
            <circle cx="8" cy="12.25" r=".5" fill="none"></circle>
        </svg>
    }
    <div class="wiki-attention-content wiki-alert-content">
        @if (!string.IsNullOrWhiteSpace(Title))
        {
                <div class="wiki-attention-title wiki-alert-title">
                @Title
            </div>
        }
        @ChildContent
    </div>
</div>

@code
{
    [Parameter]
    public string? Title { get; set; }

    [Parameter]
    public bool HideIcon { get; set; }

    [Parameter]
    public RenderFragment? ChildContent { get; set; }
}