<div class="wiki-attention wiki-question">
    @if (!HideIcon)
    {
        <svg class="wiki-attention-icon wiki-question-icon" viewBox="0 0 16 16" aria-hidden="true">
            <circle cx="8" cy="8" r="8" stroke-width="0"></circle>
            <path fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M5.5 6 a1 1 0 0 1 4.5 0 m-2 -2.25 a1 1 0 0 1 0 4.25 v1.05"></path>
            <circle cx="8" cy="12.15" r=".5" fill="none"></circle>
        </svg>
    }
    <div class="wiki-attention-content wiki-question-content">
        @if (!string.IsNullOrWhiteSpace(Title))
        {
            <div class="wiki-attention-title wiki-question-title">
                @Title
            </div>
        }
        @ChildContent
    </div>
</div>

@code
{
    [Parameter]
    public string? Title { get; set; }

    [Parameter]
    public bool HideIcon { get; set; }

    [Parameter]
    public RenderFragment? ChildContent { get; set; }
}