<div class="wiki-image">
    <img class="wiki-image-img" alt="@Alt" src="@Src">
</div>

@code 
{
    [Parameter]
    public string? Alt { get; set; }

    [Parameter]
    public string? Src { get; set; }
}