@using Lexicom.Concentrate.Blazor.WebAssembly.Amenities.Services

@inject IQuickLinkService _linkService
@inject IBrowserService _browserService

@if (!string.IsNullOrWhiteSpace(Url))
{
    <a href="@Url" target="_blank" class="quicklink">
        @Text
    </a>
}
else
{
    @Text
}

@code
{
    [Parameter]
    public virtual string? Identifier { get; set; }

    [Parameter]
    public virtual string? Text { get; set; }

    [Parameter]
    public virtual RenderFragment? ChildContent { get; set; }

    protected virtual string? Url { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();

        string? identifier = null;
        if (!string.IsNullOrWhiteSpace(Identifier))
        {
            identifier = Identifier;
        }
        else if (!string.IsNullOrWhiteSpace(Text))
        {
            identifier = Text;
        }

        if (identifier is not null)
        {
            Url = await _linkService.GetUrlFromIdentifierAsync(identifier);

            StateHasChanged();
        }
    }
}
